/* Elements */


/* header { */
    /* background-color: #ffffff;
    border: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    display: flexbox;
    flex-direction: row; 
} */

body {
    width: 960px;
    background-image: url("../images/geometric-leaves.png");  
 }

 a {
  color: #777777;
  font-family: 'Georgia', Times, Times New Roman, serif; 
  text-decoration: none; 
 }
 h1 {
    color: white;
    font-size: 25px;
 } 

 h2 {
    color: #4aaaa5;
    font-size: 24px;
 }
  
  p {
    font: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%; 
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0;
}

img {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}


/* Classes */

.wrapper {
    width: 960px;
    /* background-color:purple; */
    border: 10px #dddddd;
    padding: 10px;
    margin: 20px;
    position: absolute;
}

.menubar {
    width: 100%;
    height: 50px;
    padding: 10px; 
    margin: 0px;
    background-color:white;
    border-bottom: 1px solid #cccccc;
    position: relative;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.innerbar {
    width: 950px;
    background-color: white;
}

.name {
    background-color: #4aaaa5;
    width: 150px;
    height: 35px;
    float: left;
    margin-top: 0px;
    margin-left: 100px;
    text-align: center;
    padding: 10px;

}

.navigation {
    position: relative;
    text-align: right;
    margin-bottom: 20px;
}

.links {
margin-right: 25px;
margin-top: 6px;
padding: 10px;
color: #777777;
font-size: 15px;
text-decoration: none;
word-spacing: 20px;
}

.aboutme {
    background-color: white; 
    width: 960px;
    border: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aboutmetitle {
    margin-top: 20px;
    margin-left: 120px;
}
.aboutmetext{
    background-color: white;
    font: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 30px;
    margin-top: 30px;
}
/* .conentbox {
    background-color: orange;
    width: 960px;
    border: 10px #dddddd;
    padding: 150px;
    margin: 30px;
}

/* IDs */

#relative {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 0;
    
 }

 #absolute {
     width: 20%;
     position: absolute;
     right: 150px;
     bottom: 0px;
 }

