/* Elements */

body {
    width: 960px;
    background-image: url("../images/geometric-leaves.png");  
 }

 a {
  color: #777777;
  font-family: 'Georgia', Times, Times New Roman, serif; 
  text-decoration: none; 
 }

 h1 {
    color: white;
    font-size: 25px;
 } 

 h2 {
    color: #4aaaa5;
    font-size: 24px;
 }
  
  p {
    font: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%; 
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0;
}

/* Index Classes */

.wrapper {
    width: 960px;
    /* background-color: purple; */
}

.menubar {
    width: 960px%;
    height: 50px;
    padding: 10px; 
    margin: 0px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    position: relative;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.name {
    background-color: #4aaaa5;
    width: 150px;
    height: 40px;
    float: left;
    margin-top: 0px;
    margin-left: 100px;
    text-align: center;
    padding: 10px;
}

.navigation {
    position: relative;
    text-align: right;
    margin-bottom: 20px;
}

.links {
    margin-right: 25px;
    margin-top: 6px;
    padding: 10px;
    color: #777777;
    font-size: 15px;
    text-decoration: none;
    word-spacing: 20px;
}

.contentbox {
    background-color: hotpink;
    margin-left: 110px;
    margin-right: 0px;
}

.aboutmetitlebar {
    width: 100%;
    height: 60px;
    margin-top: 25px;
    background-color:white;
}
.aboutmetitletext{
    padding-top: 20px;
}

.indexcontainer {
margin-top: 20px;
display: flex;
flex-direction: row;
background-color: white;
}

.selfimage {
}

.aboutmetext{
    line-height:25px;
    padding: 10px;  
}



/* Portfolio Classes */

.portfolicontainer1 {
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
/* justify-content: center; */
background-color: greenyellow;
width: 100%;
}

.portfoliocontainer2{
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
background-color:orange;
}

.portfoliocontainer3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 65px;
    background-color: peachpuff;
    }

.portbox1{

}
.portbox2{

}
.portbox3{

}